* {
	font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: 'digital-clock-font';
	src: url('../fonts/digital-7.regular.ttf');
}

/*body {
	background-color: black;
}*/

h1 {
	font-family: 'digital-clock-font', sans-serif;
	font-size: 76px;
	color: green;
	text-align: center;
	text-shadow: 1px 1px 10px #1aff1a;
}

div {
	text-align: center;
}

p {
	margin: 10px;
	font-size: 18px;
}

.weather {
	border: 3px solid darkgray;
	border-radius: 10px;
	margin: 5% 2% 5% 5%;
}

.beer {
	border: 3px solid darkgray;
	border-radius: 10px;
	margin: 5% 5% 5% 2%;
}

.zippo {
	font-size: 24px;
	font-weight: 800;
}